{% block sw-cms-element-epsw-six-images-with-title-preview %}
<div class="sw-cms-el-preview-epsw-six-images-with-title" >
    <img class="sw-cms-el-preview-epsw-six-images-with-title-img" 
        :src="'six-images-with-title/static/img/background_epws_preview.jpg' | asset">
</div>

{% endblock %}